<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/speakout.js"></script>

</head>
<body style="margin: 0px;">

<div class="main-page" style="">
    <div class="main-2">
        heheheheheheh
    </div>
    <div class="main-2" id="messages">
        
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.emit('im_here', "<%= id %>");
    socket.on('receive_msg', function(msg){
        document.getElementById("messages").innerHTML = document.getElementById("messages").innerHTML + " " + msg;
    });
</script>
</body>
</html>