<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="../css/chat.css">
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>

</head>
<body style="margin: 0px;">

<div id="choose_nickname" class="choose-nickname">
    <form id="nickname">
        <div class="row input-field form-nickname" id="pr_room_pwd">
            <i id="send_msg" class="large material-icons prefix">perm_identity</i>
            <input id="input_text" type="text" length="8" class="validate" placeholder="Type your nickname">
        </div>
    </form>
</div>
<div id="chat_view" class="hidden row" style="margin: 0px;">
    <div class="col s9 chat-view">

        <div id="msg_view" class="row msg-view" style="margin: 0px; overflow-y: auto; overflow-x: hidden; height: 590px;">
            <table id="chat" class="striped"></table>
        </div>
        <div class="row msg-send" style="margin: 0px;">
            <form id="input_message_form">
                <div class="row input-field" id="pr_room_pwd" style="margin: 0px;">
                    <i class="prefix"><span class="fa fa-paper-plane"></span></i>
                    <input id="input_message" type="text" class="validate" placeholder="Type something">
                </div>
            </form>
        </div>

    </div>
    <div class="col s3 users-list blue-grey lighten-4">
        <div class="u-list-header"><h5>Users on this channel (<span id="users-counter"></span>)</h5></div>
        <ul id="users_pool" class="u-list-body blue-grey lighten-5"></ul>
        <div class="u-list-footer">
            <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">settings</i>
                </a>
                <ul>
                    <li><a class="btn-floating red"><i class="material-icons">mic</i></a></li>
                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">call</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    $( "#nickname" ).submit(function( event ) {
        $('#choose_nickname').addClass('hidden');
        $('#chat_view').removeClass('hidden');
        set_scroll();
        socket.emit('nickname', $('#input_text').val());
        event.preventDefault();
    });
    $( "#input_message_form" ).submit(function( event ) {
        socket.emit('send_message', $('#input_message').val());
        $('#chat').append('<tr><td><div class="message-mine pull-right">'+ '<p class="msg-from">Me<p>'+ '<p class="msg-body">'+$('#input_message').val()+'</p>'+ '</div></td></tr>');
        $('#input_message').val('');
        set_scroll();
        event.preventDefault();
    });
    socket.emit('im_here', "<%= id %>");
    socket.on('receive_msg', function(msg, nick){
        $('#chat').append('<tr><td><div class="message">'+ '<p class="msg-from">'+nick+'<p>'+ '<p class="msg-body">'+msg+'</p>'+ '</div></td></tr>');
        set_scroll();
    });
    socket.on('update_users', function(usersPool){
        $('#users-counter').html(usersPool.length);
        $('#users_pool').empty();
        for (var i=0; i<usersPool.length; ++i) {
            $('#users_pool').append('<li>'+usersPool[i]+'</li>');
        }
    });
    function set_scroll() {
        $('#msg_view').scrollTop($('#msg_view').prop("scrollHeight"));
    }
</script>
</body>
</html>