<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/speakout.js"></script>

</head>
<body style="margin: 0px;">

<div class="main-page" style="">
    <div class="speakout">
        <button id="speakout" class="waves-effect waves-light btn btn-large purple darken-4">SpeakOut !</button>

        <div id="choose_room" class="hidden">
            <div class="row"><button id="speakout_00" class="waves-effect waves-light btn btn-large purple darken-4 so-public"><span class="fa fa-users"></span>&nbsp;Public Room</button></div>
            <div class="row"><button id="speakout_01" class="waves-effect waves-light btn btn-large purple darken-4 so-private"><span class="fa fa-lock"></span>&nbsp;Private Room</button></div>
        </div>


        <div id="p_room" class="hidden col s1 input-field ">
            <input id="p_room_url" type="text" class="validate">
            <a href="" id="go_to_room" class="waves-effect waves-light btn green darken-4 so-public">GO TO CHAT</a>
        </div>

        <div id="pr_room" class="hidden">
            <form id="pwd_input">
                <div class="row input-field" id="pr_room_pwd">
                    <i class="large material-icons prefix">lock</i>
                    <input id="input_password" type="text" length="8" class="validate" placeholder="Introduce password">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    $( "#speakout_00" ).click(function() {
        socket.emit('create_chat', false, null);
    });
    $( "#pwd_input" ).submit(function( event ) {
        socket.emit('create_chat', true, $('#input_password').val());
        get_url();
        event.preventDefault();
    });
    socket.on('chat_created', function(hash){
        $( "#p_room_url" ).val('http://localhost/'+hash);
        $('#go_to_room').attr('href', hash);
    });
</script>
</body>
</html>